ssh {{ backup_server }} "cat {{ backup_dir }}/daily/ol_dump.sql.gz" | gunzip | mysql {{ app_db }} 

ssh {{ backup_server }} "cat {{ backup_dir }}/daily/act_dump.sql.gz" | gunzip | mysql {{ app_db }} 

ssh {{ backup_server }} "cat {{ backup_dir }}/daily/act_hi_dump.sql.gz" | gunzip | mysql {{ app_db }} 
