#!/bin/bash
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre/
export JAVA_OPTS="-Duser.country=GB -Duser.language=en"
export APP_HOME=/opt/{{ app_id }}
export APP_NAME={{ app_id }}
export APP_VSN={{ app_vsn }}

