mysqldump srp_db tr_category tr_code tr_disclosure tr_eclass tr_fin_txn  tr_fin_txn_summary tr_fin_year tr_intvn  tr_intvn_type tr_model_param  tr_org  tr_org_intvn  tr_org_type tr_pledge tr_scorecard | gzip | ssh knowprocess.com "cat > srp_dump.sql.gz"

