user = {{ postfix_sql_user }}
password = {{ postfix_sql_user_password }}
hosts = {{ postfix_sql_host }}:{{ postfix_sql_port }}
dbname = {{ postfix_sql_db }}
query = SELECT domain FROM domains WHERE domain='%s'
